<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">

</head>
<body>
<form action="/dPosA" method="post">
    Time: <input type="number" name="time">
    <br/>
    Acceleration: <input type="number" name="accel">
    <br/>
    Initial Velocity: <input type="number" name="iVel">
    <br/>
    <input type="submit" name="form" value="Submit">

    <p id="a" style="font-size:150%;text-align: center"></p>
</form>
<script>
    if({{ filled }}){
        document.getElementById("a").innerHTML = {{answer}} + "m";
    }
</script>
</body>
</html>