{% extends "navbar.html" %}
{% block title %}Change in Position{% endblock %}

{% block content %}
<div class="container">
    <br>
    <form class="form-horizontal" action="/dPos" method="post">
        <div class="form-group"> Time: <input type="number" name="time" placeholder="time"></div>
        <br/>
        <div class="form-group"> Acceleration: <input type="number" name="accel" placeholder="acceleration"></div>
        <br/>
        <div class="form-group"> Initial Velocity: <input type="number" name="iVel" placeholder="initial velocity"></div>
        <br/>
        <div class="form-group"><input type="submit" name="form" value="Submit"></div>
        <p id="a" style="font-size:150%;text-align: center"></p>
    </form>
    <script>
        if ({{ filled }}) {
            document.getElementById("a").innerHTML = {{answer}} +"m";
        }
    </script>

</div>
{% endblock %}