<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">#}
    <title>Home Screen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1><span class="title"> Welcome to My Website!</span></h1>
    <h3><span class="subtitle"> By Sir Stripes</span></h3>
    <br>
    <h2> Here we have study guides, and calculators to help you out!</h2>
    <div class="row">
        <div id="col-sm-6">
            <h1><b> <u> Guides: </u></b></h1>
            <ul style="list-style-type: none">
                <li><a href="addprofileform">Add Profile One</a></li>
                <li><a href="studyguides"> Study Guides</a></li>
            </ul>
        </div>
        <div id="col-sm-6">
            <h1><b> <u> Calculators: </u></b></h1>
            <ul style="list-style-type: none">
                <li><a href="wolframAsk"> Wolfram</a></li>
                <li><a href="phalculatorAsk"> Phalculator(Physics Calculator)</a></li>
            </ul>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</div>

</body>
</html>