<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <title>Home Screen</title>
</head>
<body>
    <div id = "Heading">
        <h1> This is the home screen</h1>
        <h2> By Sir Stripes</h2>
    </div>
    <div id = "Body">
        <p> Words </p>
        <p> <b> <i> <u> More Words</u></i></b></p>
        <ul>
            <li> <a href="addprofileform">Add Profile One</a></li>
            <li> <a href="addprofileform2"> Add Profile Two </a></li>
        </ul>
    </div>
</body>
</html>