<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav" style="list-style-type:none">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="studyguides"> Guides </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="phalculatorAsk"> Calculator Home</a>
            </li>
        </ul>
    </nav>
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>