{% extends "navbar.html" %}
{% block title %}Physics Calculator{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="list-group">
            <a><a href="dPos" class="list-group-item"> Change in Position</a></a>
            <a class="list-group-item"> Final Velocity</a>
            <a class="list-group-item"> Split vector in to Components</a>
            <a class="list-group-item"> Combine Components</a>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

 </div>
{% endblock %}